.row {
  align-items: center;
  h1 {
    font-family: "Lora", serif;
    font-size: 3rem;
  }

  p {
    font-family: "Poppins", sans-serif;
  }

  img {
    height: 66vh;
    object-fit: cover;
  }
}
