@import "../styles/index.scss";
.header {
  font-family: "Lora", serif;
}

.project-hyperlink {
  color: #000000;
  text-decoration: none;
}
.row {
  align-items: center;
  margin: 5em auto;
  &:first-child {
    margin-top: 0;
  }
  &:nth-child(even) {
    flex-direction: row-reverse;
    .text-area h1 {
      transform: translate3d(12vw, 0, 10px);
      @include media-query($small-down) {
        transform: none;
        text-align: right;
        p {
          text-align: right;
        }
      }
    }
  }

  .image-area {
    width: 60%;
    img {
      object-fit: cover;
      width: 100%;
    }

    @include media-query($medium) {
      width: 50%;
    }
    @include media-query($small-down) {
      width: 100%;
    }
  }

  .text-area {
    width: 40%;
    h1 {
      font-family: "Lora", serif;
      font-size: 3.5em;
      transform: translate3d(-15%, -25px, 10px);

      @include media-query($widescreen) {
        font-size: 5rem;
      }

      @include media-query($small-down) {
        font-size: 2rem;
        transform: none;
        margin-bottom: 0;
      }
    }

    .card-text {
      font-family: "Poppins", sans-serif;
      text-align: end;
      transform: translate(0%, 14%);
      padding: 15px 5rem;

      a {
        text-decoration: none;
        color: #000000;
        border-bottom: 1px solid #000000;
      }
      @include media-query($small-down) {
        padding: 0;
      }
    }

    @include media-query($medium) {
      width: 50%;
    }

    @include media-query($small-down) {
      width: 100%;
    }
  }
}

.full-width-img,
.pic-overview {
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    object-fit: cover;
  }
}
