@import "../styles/index.scss";
.header {
  font-size: 7vw;
  font-family: Lora, serif;
  color: black;
  font-weight: 300;
  @include media-query($small-down) {
    font-size: 3.77em;
  }
}

.sub-header {
  font-size: 1.5rem;
  font-family: Poppins, Helvetica, serif;
}
