.header {
  padding: 1rem 0 3rem;
  font-family: Poppins, sans-serif;
  max-width: 80vw;
  margin: 0 auto;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  font-family: Poppins, sans-serif;
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: grey;
  font-size: 0.9rem;
  margin-right: 1.3rem;
  text-decoration: none;
}

.nav-item:hover {
  color: darkgrey;
}

.active-nav-item {
  color: #000000;
  font-weight: 600;
}
